.vscode/            

__pycache__/                
*$py.class 
env/       
venv/
.venv/
ENV/
.env 


data/               
*.pth              
*.bin
checkpoints/        
runs/               
logs/             


config.yaml         

.ipynb_checkpoints/


*.log               
.cache/            
tmp/                
temp/